body {font-family: Verdana, sans-serif; }
header, nav, section, article, footer , aside 
{border:1px solid grey; margin:5px; padding:8px;}
article {
	padding:5px; 
	border-width: 1px; 
	text-align: left;
	
	margin:auto;
	}